.idea
cloud/.idea/
shop-cloud.iml

config-server/.idea/
config-server/target/
config-server/config-server.iml


eureka-server/.idea/
eureka-server/target/
eureka-server/eureka-server.iml

shop-common/.idea/
shop-common/target/
shop-common/shop-common.iml

shop-provider-api/.idea/
shop-provider-api/target/
shop-provider-api/shop-provider-api.iml
shop-provider-api/member-api/target/
shop-provider-api/member-api/member-api.iml
shop-provider-api/member-api/.idea/
shop-provider-api/goods-api/target/
shop-provider-api/goods-api/goods-api.iml
shop-provider-api/goods-api/.idea/
shop-provider-api/seckill-api/.idea/
shop-provider-api/seckill-api/seckill-api.iml
shop-provider-api/seckill-api/target/


shop-provider-server/.idea/
shop-provider-server/target/
shop-provider-server/shop-provider-server.iml
shop-provider-server/member-server/.idea/
shop-provider-server/member-server/target/
shop-provider-server/member-server/member-server.iml

shop-provider-server/goods-server/target/
shop-provider-server/goods-server/goods-api.iml
shop-provider-server/goods-server/.idea/
shop-provider-server/seckill-server/.idea/
shop-provider-server/seckill-server/seckill-api.iml
shop-provider-server/seckill-server/target/

zuul-server/.idea/
zuul-server/target/
zuul-server/zuul-server.iml
